.container {
    padding: 10px;
}

.container-part{
    padding: 10px;
}
.column {
    padding: 0 0 0 0 !important; 
}

.column .v-list-item {
    font-size: 12px !important;
    min-width: 50px !important;
}

.column .v-list-item-title {
    min-width: 100px;
    white-space: pre-wrap;
    font-size: 12px !important;
}
.column .v-list-item-subtitle {    
    white-space: pre-wrap;
    font-size: 12px !important;
}
.table {
    border-left: 5px solid #00bc8c;
}